In [10]:
import sys 
import fire
import csv
import questionary
import pandas as pd 
from pathlib import Path

import plotly.express as px
import plotly.offline as pyo
import plotly.graph_objects as go

In [12]:
wheat_df = pd.read_csv(
    Path("../csv_data/csv_files_agriculture/zw_wheat.csv"),
    index_col='Date',
    parse_dates=True,
    infer_datetime_format=True
)


wheat_df = wheat_df.drop(columns=['Volume', 'Open', 'High', 'Low'])
wheat_df

            Close/Last
Date
2022-01-20      790.25
2022-01-19      796.50
2022-01-18      769.00
2022-01-14      741.50
2022-01-13      746.75
...                ...
2017-01-26      420.50
2017-01-25      427.00
2017-01-24      424.50
2017-01-23      426.75
2017-01-20      428.25

[1260 rows x 1 columns]

In [13]:
wheat_df = wheat_df.rename(columns={'Close/Last' : 'Wheat'})
wheat_df

             Wheat
Date
2022-01-20  790.25
2022-01-19  796.50
2022-01-18  769.00
2022-01-14  741.50
2022-01-13  746.75
...            ...
2017-01-26  420.50
2017-01-25  427.00
2017-01-24  424.50
2017-01-23  426.75
2017-01-20  428.25

[1260 rows x 1 columns]

In [14]:
# Filtering my dataframes so that dates that are unused are removed.


wheat_cleaned = wheat_df.sort_index().truncate(before = '04/15/2020', after ='12/31/2021')
wheat_cleaned.head()

             Wheat
Date
2020-04-15  540.50
2020-04-16  530.50
2020-04-17  533.75
2020-04-20  547.50
2020-04-21  548.75

In [15]:

wheat_cleaned.dtypes

Wheat    float64
dtype: object

In [17]:
corn_df = pd.read_csv(
    Path("../csv_data/csv_files_agriculture/zc_corn.csv"),
    index_col='Date',
    parse_dates=True,
    infer_datetime_format=True
)

corn_df = corn_df.drop(columns=['Volume', 'Open', 'High', 'Low'])
corn_df

            Close/Last
Date
2022-01-20      611.00
2022-01-19      610.50
2022-01-18      599.50
2022-01-14      596.25
2022-01-13      587.50
...                ...
2017-01-26      363.75
2017-01-25      366.25
2017-01-24      363.25
2017-01-23      369.50
2017-01-20      369.75

[1260 rows x 1 columns]

In [ ]:
corn_df = corn_df.rename(columns={'Close/Last' : 'Corn'})
corn_df

In [ ]:

# Filtering my dataframes so that dates that are unused are removed.
corn_cleaned = corn_df.sort_index().truncate(before = '04/15/2020', after ='12/31/2021')
corn_cleaned

In [18]:
fd_cattle_df = pd.read_csv(
    Path("../csv_data/csv_files_agriculture/fd_cattle.csv"),
    index_col='Date',
    parse_dates=True,
    infer_datetime_format=True
)

fd_cattle_df = fd_cattle_df.drop(columns=['Volume', 'Open', 'High', 'Low'])
fd_cattle_df

            Close/Last
Date
2022-01-20     138.325
2022-01-19     138.550
2022-01-18     137.675
2022-01-14     137.975
2022-01-13     137.000
...                ...
2017-01-26     118.700
2017-01-25     119.875
2017-01-24     119.675
2017-01-23     120.250
2017-01-20     120.250

[1260 rows x 1 columns]

In [ ]:
fd_cattle_df = fd_cattle_df.rename(columns={'Close/Last' : 'FD Cattle'})
fd_cattle_df

In [ ]:
# Filtering my dataframes so that dates that are unused are removed.
fd_cattle_cleaned = fd_cattle_df.sort_index().truncate(before = '04/15/2020', after ='12/31/2021')
fd_cattle_cleaned.head()

In [ ]:
fd_cattle_cleaned.dtypes

In [19]:
hogs_df = pd.read_csv(
    Path("../csv_data/csv_files_agriculture/he_hogs.csv"),
    index_col='Date',
    parse_dates=True,
    infer_datetime_format=True
)

hogs_df = hogs_df.drop(columns=['Volume', 'Open', 'High', 'Low'])
hogs_df

            Close/Last
Date
2022-01-20      94.000
2022-01-19      91.350
2022-01-18      89.275
2022-01-14      88.450
2022-01-13      85.325
...                ...
2017-01-26      67.225
2017-01-25      70.150
2017-01-24      67.625
2017-01-23      67.775
2017-01-20      68.475

[1260 rows x 1 columns]

In [ ]:
hogs_df = hogs_df.rename(columns={'Close/Last' : 'Hogs'})
hogs_df

In [ ]:
# Filtering my dataframes so that dates that are unused are removed.
hogs_cleaned = hogs_df.sort_index().truncate(before = '04/15/2020', after ='12/31/2021')
hogs_cleaned

In [ ]:
hogs_cleaned.dtypes

In [20]:
gf_cattle = pd.read_csv(
    Path("../csv_data/csv_files_agriculture/gf_cattle.csv"),
    index_col='Date',
    parse_dates=True,
    infer_datetime_format=True
)

gf_cattle = gf_cattle.drop(columns=['Volume', 'Open', 'High', 'Low'])

In [21]:
gf_cattle = gf_cattle.rename(columns={'Close/Last' : 'GF Cattle'})
gf_cattle

            GF Cattle
Date
2022-01-21    163.300
2022-01-20    164.950
2022-01-19    165.625
2022-01-18    165.425
2022-01-14    166.375
...               ...
2017-01-27    127.450
2017-01-26    127.100
2017-01-25    129.850
2017-01-24    130.175
2017-01-23    130.675

[1260 rows x 1 columns]

In [ ]:
# Filtering my dataframes so that dates that are unused are removed.
gf_cattle_cleaned = gf_cattle.sort_index().truncate(before = '04/15/2020', after ='12/31/2021')
gf_cattle_cleaned

In [ ]:
# Using Concat to combine all dataframes into one

agriculture_df_closing_price = pd.concat([wheat_cleaned, corn_cleaned, fd_cattle_cleaned, hogs_cleaned, gf_cattle_cleaned], axis = 1, join = "inner")
agriculture_df_closing_price

In [ ]:
agriculture_df_daily_returns = agriculture_df_closing_price.pct_change().dropna()

In [ ]:
agriculture_df_daily_returns

In [ ]:
#define the stimulus starting amoung in var
starting_value= float(input("starting amount"))

In [ ]:
starting_value

In [ ]:
# Calculate daily returns for Wheat in a new dataframe

wheat_daily_returns = wheat_cleaned.pct_change()

wheat_daily_returns.head()

In [ ]:
wheat_daily_returns['Portfolio'] = pd.NaT

wheat_daily_returns

In [ ]:
wheat_daily_returns = wheat_daily_returns.assign(Portfolio=(1+wheat_daily_returns['Wheat'].fillna(0)).cumprod().mul(starting_value))

In [ ]:
#Rename columns. 
wheat = wheat_daily_returns.rename(columns={'Wheat':'Wheat Daily Returns',"Portfolio":"Wheat Port"})

In [ ]:
wheat.head()

In [ ]:
corn_daily_returns = corn_cleaned.pct_change()

corn_daily_returns.head()

In [ ]:
corn_daily_returns['Portfolio'] = pd.NaT

corn_daily_returns

In [ ]:
corn_daily_returns = corn_daily_returns.assign(Portfolio=(1+corn_daily_returns['Corn'].fillna(0)).cumprod().mul(starting_value))

In [ ]:
corn = corn_daily_returns.rename(columns={'Corn':'Corn Daily Returns',"Portfolio":"Corn Port"})

In [ ]:
corn.tail()

In [ ]:
fd_cattle_daily_returns = fd_cattle_cleaned.pct_change()

fd_cattle_daily_returns.head()

In [ ]:
fd_cattle_daily_returns['Portfolio'] = pd.NaT

fd_cattle_daily_returns

In [ ]:
fd_cattle_daily_returns = fd_cattle_daily_returns.assign(Portfolio=(1+fd_cattle_daily_returns['FD Cattle'].fillna(0)).cumprod().mul(starting_value))

In [ ]:
fd_cattle = fd_cattle_daily_returns.rename(columns={'FD Cattle':'FD Cattle Daily Returns',"Portfolio":"FD Cattle Port"})

In [ ]:
fd_cattle

In [ ]:
hogs_daily_returns = hogs_cleaned.pct_change()

hogs_daily_returns.head()

In [ ]:
hogs_daily_returns['Portfolio'] = pd.NaT

hogs_daily_returns

In [ ]:
hogs_daily_returns = hogs_daily_returns.assign(Portfolio=(1+hogs_daily_returns['Hogs'].fillna(0)).cumprod().mul(starting_value))

In [ ]:
hogs = hogs_daily_returns.rename(columns={'Hogs':'Hogs Daily Returns',"Portfolio":"Hogs Port"})
hogs.head()

In [ ]:
gf_cattle_daily_returns = gf_cattle_cleaned.pct_change()

gf_cattle_daily_returns.head()

In [ ]:
gf_cattle_daily_returns['Portfolio'] = pd.NaT

gf_cattle_daily_returns

In [ ]:
gf_cattle_daily_returns = gf_cattle_daily_returns.assign(Portfolio=(1+gf_cattle_daily_returns['GF Cattle'].fillna(0)).cumprod().mul(starting_value))

In [ ]:
gf_cattle = gf_cattle_daily_returns.rename(columns={'FD Cattle':'FD Cattle Daily Returns',"Portfolio":"GF Cattle Port"})
gf_cattle.head()

In [ ]:
agriculture_daily_returns = pd.concat([wheat, corn, fd_cattle, hogs, gf_cattle], axis=1)

In [ ]:
agriculture_daily_returns

In [ ]:
agriculture_daily_returns.plot()

In [ ]:
agriculture_daily_returns_sliced = agriculture_daily_returns.iloc[:, [1,3,5,7,9]]
agriculture_daily_returns_sliced